<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog_system.dao.UserMapper">
    <resultMap type="com.example.blog_system.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="createTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="findUserById" resultMap="UserMap">
        select * from public.user where id = #{id}
    </select>
    <select id="findAllUser" resultMap="UserMap">
        select * from public.user
    </select>
</mapper>